.container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100rem;
    margin: 4rem auto;
    flex-wrap: wrap;
}

.select-options {
    border: 1px solid #2F99B0;
}

.select {
    width: 10rem;
}

.select:focus {
    outline: none;
}

.checkbox {
    width: 10rem;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-family: serif;
    justify-content: center;
}

#box {
    margin: 0 0.5rem 0 0;
}

p {
    margin: 0;
    padding: 10px;
}

.number-tiles {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50rem;
}

.square-number {
    border: 3px solid #2F99B0;
    border-radius: 0.2rem;
    min-width: 3rem;
    cursor: pointer;
}

.square-number.is-selected {
    /* box-shadow: 0 0 0.2rem blue; */
    background-color: #B1D9E1;
}

.places {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .places {
        flex-direction: row;
    }

    .place-container {
        flex-direction: column;
    }

    .number-tiles {
        flex-direction: column;
        width: unset;
        margin: 0.3rem 0.5rem 2rem 0.5rem;
    }

    .select {
        width: 8rem;
    }

    .square-number {
        margin-bottom: 0.3rem;
    }
}
